.container {
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  padding-top: 30vh;
  flex-direction: column;
  gap: 2.5rem;
  h1 {
    font-size: 3rem;
  }
}
