.button {
  background: none;
  border: none;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.9rem 1.5rem;
  border: 1.5px solid currentColor;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: -2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: transparent;
  transition: all 0.3s ease;
  // 700 px
  @media screen and (max-width: 43.75em) {
    margin-left: 1.5rem;
    margin-top: -1rem;
  }
  &:hover {
    color: var(--third-black-color);
    background-color: #fff;
  }
  svg {
    display: block;
    fill: currentColor;
    font-size: 1.5rem;
  }
}
