.container {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  img {
    // max-width: 100%;
    width: 10rem;
  }
  h1 {
  }
  p {
  }
}
