.container {
  button {
    display: block;
    background-color: transparent;
    border: none;
    border: none;
    width: 3rem;
    height: 3rem;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    svg {
      fill: #fff;
      font-size: 2rem;
      display: block;
    }
  }
}
.circle {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  background-image: conic-gradient(#fff 0%, transparent 0);
}
.inner {
  // special
  // background-image: conic-gradient(#b5838d 25%, #ffcdb2 0);
  //
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  background: var(--secondary-black-color);
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
