// Variables
:root {
  --green-color: #1db954;
  --white-color: #ffffff;
  --black-color: #191414;
  --black-color--secondary: #121212;
  // Black
  --primary-black-color: #000000;
  --secondary-black-color: #121212;
  --third-black-color: #181818;

  // White
  --primary-white-color: #ffffff;
  --secondary-white-color: #f2f2f2;
  // Green
  --primary-green-color: #1db954;
  //
  --profile-header-color: #535353;
  //
  --grey-1: #9b9b9b;
}
//
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  // 1rem = 10px
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
  background-color: var(--secondary-black-color);
}
#root {
  min-height: 100vh;
  &:has(nav) {
    display: grid;
    grid-template-columns: 10rem 1fr;
    nav {
      background-color: var(--primary-black-color);
      // color: var(--grey-1);
      position: sticky;
      left: 0;
      width: 100%;
      top: 0;
      padding: 3rem 0;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 5rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    }
    main {
      // overflow-x: hidden;
      // padding: 10rem 2rem 2rem;
      // padding: 6rem 6rem 2rem 6rem;
      background-color: var(--secondary-black-color);
      // height: 200vh;
      padding: 6rem 6rem;
      // margin: 0 auto;
      // height: 200vh;
    }
    .pageHeading {
      font-size: 3.2rem;
      letter-spacing: -1px;
      font-weight: 700;
    }
  }
}
